<div class="container">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
 			<ul class="nav navbar-nav navbar-left">
 				<li><a href="#">MyShop Logo</a></li>
 				<li><form class="navbar-form"><input type="text" class="form-control" id="search"></li>
 				<li><div class="navbar-form"><select class="form-control">
 						<option>All</option>
 						<option>Mens Wear</option>
 						<option>Ladies Wear</option>
 						<option>Kids Wear</option>
 					</select></div></form>
 				</li>
 				<li><div class="navbar-form"><button type="button" class="btn btn-info">Go</button></div></li>
 			</ul>
 			<ul class="nav navbar-nav navbar-right">
  				<li><a href="#">Special Offers</a></li>
  				<li><a href="#">Delivery</a></li>
  				<li><a href="#">contact</a></li>
  				<li><div class="navbar-form" >
  					<a href="#"><button type="button" class="btn btn-success">Login</button></a></div></li>
  				<li>&nbsp;&nbsp;</li>	
			</ul>    		
	</nav>

 

	<div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                    </span>Content</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <ul class="list-group">
                  <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Articles</a>
                    <ul class="list-group">
                      <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Articles</a></li>

                      <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="#">News</a></li>

                      <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">Newsletters</a></li>

                      <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="#">Comments</a><span class="badge">42</span></li>

                    </ul>
                  </li>

                  <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="#">News</a></li>

                  <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="#">Newsletters</a></li>

                  <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="#"> Comments</a><span class="badge">42</span></li>

                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                    </span>Reports</a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    Cras justo odio
                  </a>
                  <div class="list-group">
                    <a href="#" class="list-group-item">
                      Cras justo odio
                    </a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                  </div>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-heart">
                    </span>Reports</a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    <div class="col-sm-9 col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{outlet}}</h3>
            </div>
            
          </div>
        </div>
      </div>
    </div>   
</div>

	
</div>
<footer class="navbar navbar-inverse">
	<div class="row"><div class="col-md-4">INFORMATION</div></div>
			<div class="row"><div class="col-md-4"><a href="#">Home</a></div></div>
			<div class="row"><div class="col-md-4"><a href="#">Profile</a></div></div>
  			<div class="row"><div class="col-md-4"><a href="#">Messages</a></div></div>
		</div>
	</div>	
</footer>